/* Common CSS */
* { box-sizing: border-box; }

body {
    background: #1f1f1f;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif; 
}

a {
    text-decoration: none;
    color: unset;
}

figure > img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1441px;
    width: 75.05%;
    margin: 0 auto;
}

/* Header CSS */
header {
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 > a {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: color 1s ease-in-out;
    text-transform: uppercase;
}

header > h1 > a:hover { color: rgba(143, 208, 166, 1); }
header > nav { flex-basis: 43.333%; }

header ul { 
    display: flex; 
    justify-content: flex-end;
}

header ul > li { margin-right: 9.11%; }
header ul > li:last-child { margin-right: 0; }

header li a {
    padding: 15px 0;
    display: inline-block;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header li a:hover { border-bottom: 4px solid rgba(143, 208, 166, 1); }
header li.selected a { border-bottom: 4px solid rgba(143, 208, 166, 1); }

.hamburger-tablet {
    display: none;
    font-size: 0;
}