/* Common CSS */
* { box-sizing: border-box; }

body {
    background: #1f1f1f;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif; 
}

a {
    text-decoration: none;
    color: unset;
}

figure > img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1441px;
    width: 75.05%;
    margin: 0 auto;
}

/* Header CSS */
header {
    padding: 40px 0 30px 0;
    border-bottom: 1px solid #2e2e2e;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 > a {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: color 1s ease-in-out;
    text-transform: uppercase;
}

header > h1 > a:hover { color: rgba(143, 208, 166, 1); }
header > nav { flex-basis: 43.333%; }

header ul { 
    display: flex; 
    justify-content: flex-end;
}

header ul > li { margin-right: 9.11%; }
header ul > li:last-child { margin-right: 0; }

header li a {
    padding: 15px 0;
    display: inline-block;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

header li a:hover { border-bottom: 4px solid rgba(143, 208, 166, 1); }
header li.selected a { border-bottom: 4px solid rgba(143, 208, 166, 1); }

.hamburger-tablet {
    display: none;
    font-size: 0;
}

/* Main Content CSS/*
/* Filter & Content */
.filter-and-content { border-bottom: 1px solid #2e2e2e; }

.filter { margin: 25px 0; }
.filter > ul { display: flex; }
.filter > ul > li { margin-right: 15px; }
.filter > ul > li:last-child {  margin-right: 0; }

.filter li > span {
    padding: 8px 12px;
    display: inline-block;
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    transition: background 1s ease-in-out, color 1s ease-in-out;
}

.filter li > span:hover { 
    background: rgba(143, 208, 166, 1);
    color: #fff;
    cursor: pointer; 
}

.filter li.selected > span { background: rgba(143, 208, 166, 1); }

.content {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content > li { flex-basis: 25%; }

/* Links */
.links {
    border-bottom: 1px solid #2e2e2e;
    margin-top: 35px;
    display: flex;
}

.links > * { 
    margin-right: 3.5%;
    flex-basis: 22.375%;
}
.links > *:last-child { margin-right: 0; }

.links h2 {
    margin-bottom: 25px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.text-widget > p {
    margin-bottom: 15px;
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
    line-height: 18px;
}

.text-widget > p:last-child { margin-bottom: 0; }

.recent-posts > ul { 
    display: flex;
    flex-direction: column;
}

.recent-posts > ul > li {
    padding: 12px 0;
    border-bottom: 1px solid #2e2e2e;
}

.recent-posts > ul > li:first-child { padding: 0 0 12px 0; }
.recent-posts > ul > li:last-child { border-bottom: none; }

.recent-posts li > a {
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
    text-transform: capitalize;
    transition: color 1s ease-in-out;
}

.recent-posts li > a:hover { color: rgba(143, 208, 166, 1); }
.recent-posts a > span { text-transform: none; }

.popular-tags > ul { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.popular-tags li a {
    padding: 8px 12px;
    display: inline-block;
    background: rgba(143, 208, 166, 1);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    transition: background 1s ease-in-out;
}

.popular-tags li a:hover { background: rgba(136, 136, 136, 1); }
.popular-tags li.selected a { background: rgba(136, 136, 136, 1); }

.flickr-gallery > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px 3%;
}

.flickr-gallery > ul > li { flex-basis: 22.75%; }

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
}

footer > * { margin: 20px 0; }

footer > span { 
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
    text-transform: capitalize;
}

footer > ul { display: flex; }
footer > ul > li { margin-right: 10px; }
footer > ul > li:last-child { margin-right: 0; }

footer li > a { 
    display: inline-block;
    font-size: 0;  
}

footer li > a::before {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    background: #fff;
    color: rgba(136, 136, 136, 1);
    font-family: "Font Awesome 5 Brands";
    font-size: 12px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
}

footer li > a[title="Google Plus"]::before { content: "\f0d5"; }
footer li > a[title="Twitter"]::before { content: "\f099"; }
footer li > a[title="Pinterest"]::before { content: "\f231"; }
footer li > a[title="Dribbble"]::before { content: "\f17d"; }
footer li > a[title="LinkedIn"]::before { content: "\f0e1"; }
footer li > a[title="Facebook"]::before { content: "\f39e"; }